@import "tailwindcss";

/* Kode CSS kamu yang lain di bawahnya tetap biarkan saja */
@tailwind components;
@tailwind utilities;

/* MATIKAN SEMUA MARGIN & PADDING BAWAAN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100% !important;
  height: 100% !important;
  overflow-x: hidden;
  background-color: #FDFBF7;
}

/* PAKSA CONTAINER TIDAK BERFUNGSI */
.container {
  max-width: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #c9a96e;
}

@keyframes slow-zoom {
  from { transform: scale(1); }
  to { transform: scale(1.1); }
}
.animate-slow-zoom {
  animation: slow-zoom 20s infinite alternate ease-in-out;
}